 {% extends 'base.html' %}

  {% block content%}
  <form action="{% url 'account:login' %}" class="row g-2" method="post" id="login"> 
    {% csrf_token %}
    <div class="mb-3 mt-3">
      <label for="username" class="form-label">Email:</label>
      <input type="username" class="form-control" id="id_username" placeholder="Enter username" name="username">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password:</label>
      <input type="password" class="form-control" id="id_password" placeholder="Enter password" name="password">
    </div>
    <div class="form-check mb-3">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="remember"> Remember me
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  

  {% endblock%}
