 {% extends 'base.html' %}

  {% block content%}
 
  <div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-7">
            <div class="card p-3 py-4">
                <div class="text-center"> <img src="https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1214428300?b=1&k=20&m=1214428300&s=170667a&w=0&h=CK3qVSUhgSH1otzazdvV9K2e_mP5BZC8ks0UeACQk5Y=" width="100" class="rounded-circle"> </div>
                <div class="text-center mt-3"> 
                    <h5 class="mt-2 mb-0"> {{ request.user.first_name }} {{ request.user.last_name }} </h5> <span> {{ request.user.email }} </span>
                    
                    
                    <ul class="social-list">
                        {% comment %} <li><i class="fa fa-facebook"></i></li>
                        <li><i class="fa fa-dribbble"></i></li>
                        <li><i class="fa fa-instagram"></i></li>
                        <li><i class="fa fa-linkedin"></i></li>
                        <li><i class="fa fa-google"></i></li> {% endcomment %}
                    </ul>
                    {% comment %} <div class="buttons"> <button class="btn btn-outline-primary px-4">Message</button> <button class="btn btn-primary px-4 ms-3">Contact</button> </div> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</div>

  {% endblock%}