 {% extends 'base.html' %}

  {% block content%}
  <form action="{% url 'grammar:index' %}" class="row g-2" method="post" id="spell"> 
    {% csrf_token %}
    <div class="container-md m-2">
      <div class="container-md m-5">
        <h3>Your spelling history</h3>
      </div>
    <div class="container-md m-5">
    <div class="row">
      <div class="col">

            {% if user.is_authenticated %}
              {% if activities|length == 0 %}
              <p> You do not have any activities! </p>
              {% else %}
              <p class="fs-5 fst-italic fw-bold text-secondary"> {{ activities|length }} records found! </p>
              <ol class="list-group list-group-numbered">
                {% for activity in activities %}
                  <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                      <div class="fw text-danger"> 
                        <strong>Wrong sentence:</strong> 
                        <p> {{ activity.3 }} </p>
                      </div>
                      <div class="fw text-primary"> 
                        <strong>Right sentence:</strong> 
                        <p> {{ activity.5 }} </p>
                      </div>
                      <strong>Created:</strong> {{ activity.7|timesince }} ago
                    </div>
                    <button id="{{ activity.8 }}" data-id="{{ activity.8 }}" type="button" class="btn btn-outline-danger">Delete</button>
                  </li>
               {% endfor %}
              </ol>
              {% endif %}
          {% else %}
          <p> Please <a href="{% url 'account:login' %}">login</a> to see your history. </p>
          {% endif %}
      </div>
    </div>
</div>

<script type="text/javascript">
  $(this).click(function (e) {
      var target = (event.target.id);
      //window.location.href = event.target
      //alert(target);
      //alert($(event.target).attr('class'))
      if ($(e.target).is(":button")) {
          e.preventDefault();
          $.post('{% url "grammar:spelling_delete" %}',
              {
                  id: $('#' + target).data('id'),
              },
              function (data) {
                  if (data['status'] == 'ok') {
                    location.reload();
                  }
              });
      } else {
          //alert(event.target)
          // This helps to redirect href locations
          //event.preventDefault()
          window.location.href = event.target.attr('href')
      }

  });

</script>

  {% endblock%}